* {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    box-sizing: border-box;
    display: none;
}

/* First Box */
.first_box {
    background-color: #b07878;
    padding: 100px;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border: 10px solid #6d6dbd;
}

/*.second_box {
    background-color: #b2ad6e;
    padding: 20px ;
    width: 50px;
    height: 50px;
    border: 20px #6d6dbd solid;
    margin: 30px;
} */
